@font-face {
	font-family: 'Iceberg';
	src: url('/fonts/Iceberg-Regular.woff2') format('woff2'),
		url('/fonts/Iceberg-Regular.woff') format('woff'),
		url('/fonts/Iceberg-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--bg-color: #ffffff; /* #92676c; */
	--bg-color-grad-1: transparent;
	--bg-color-grad-2: #0e2284;
	--text-color: #000000; /* #ffffff; */
	--link-color: currentColor; /* #ffffff; */
	--link-color-hover: currentColor; /* #ffffff; */
	--intro-color: #ffffff;
	--intro-bg-color: #111111;
	--font: system-ui;
	--font-alt: "iceberg", sans-serif;
}

body {
	margin: 0;
	color: var(--text-color);
	font-family: var(--font);
	overflow-x: hidden;
	background-color: var(--bg-color);
}

a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}

section {
	padding: 1rem;
}


@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes slideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
}
@keyframes slideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

/* Micromodal.js style (https://micromodal.vercel.app/) */

.modal {
	display: none;
}

.modal.is-open {
	display: block;
}

.modal[aria-hidden="false"] .modal__overlay {
	animation: fadeIn 0.3s ease-in;
}

.modal[aria-hidden="false"] .modal__content {
	animation: slideIn 0.4s ease-in;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal__container {
	position: relative;
	background-color: #fff;
	color: #000;
	padding: 30px;
	width: 90%;
	height: 90%;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	margin: 2rem 0;
	text-align: center;
}

.modal__title {
	margin: 0;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.25;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.modal-content {
	margin-top: 2rem;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: transparent;
	color: #ffffff;
	z-index: 10;
}

.img-logo {
	width: 50px;
	height: 50px;
}
.menu-button {
	background: transparent;
	border: none;
	cursor: pointer;
	color: currentColor;
}
.menu-button svg {
	width: 45px;
	height: 45px;
}

@media(max-width: 768px) {
	.img-logo {
		width: 30px;
		height: 30px;
	}
	.menu-button svg {
		width: 35px;
		height: 35px;
	}
}

#modal-header-menu .modal-nav {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

/* Footer */
.footer {
	padding: 60px 1rem;
	background-color: #000000;;
	color: #ffffff;
}

.footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-bottom: 50px;
}

@media(max-width: 768px) {
	.footer-logo {
		flex-direction: column;
	}
}

.footer-logo img {
	width: 300px
}

.footer-wrap {
	display: grid;
}

@media(min-width: 768px) {
	.footer-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
}

.footer-section h3 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.footer-section p {
	font-size: 18px;
	margin: 8px 0;
}

.footer-section a {
	color: #ffffff;
	text-decoration: none;
}

.footer-section a:hover {
	text-decoration: underline;
}

.footer-info {
	text-align: center;
}
